<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/header :: header ('福利球-磁力搜索-首页')}">
</head>
<body>


<div  class="container title-top" >
    <div class="col-lg-12  text-center container">
        <h1 class="display-4">福利球-磁力搜索</h1>
        <p class="lead">一个基于BitTorrent协议的DHT磁力嗅探器,并基于Elasticsearch存储/检索Torrent的Metadata信息</p>
        <p>免责声明:本网站不下载存储任何Torrent文件,只根据InfoHash获取并存储Torrent的Metadata信息.</p>
    </div>

    <div class="container content-top">
            <div th:replace="~{fragments/common :: searchInput}"></div>
    </div>
</div>


<span th:include="~{fragments/common :: js}"></span>
</body>
</html>
